.container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 250px);
    background-color: gray;
    height: 550px;
    width: 850px;
    
}
.box1 {
    background-color: white;
    margin: 5px;
}
.box2 {
    background-color: white;
    margin: 5px;
}
.box3 {
    background-color: white;
    margin: 5px;
}
.box4 {
    background-color: white;
    margin: 5px;
}
.box5 {
    background-color: white;
    margin: 5px;
}
.box6 {
    background-color: white;
    margin: 5px;
}.box7 {
    background-color: white;
    margin: 5px;
}
.box8 {
    background-color: white;
    margin: 5px;
}
.zurag {
    height: 180px;
    width: 150px;
}
.useg {
    margin-left: 60px;
}
.une {
    margin-left: 30px;
}